<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col-10">

    <h1>Standalone Component - Page</h1>
    <hr>

    <div class="row">
      <div class="col">
        <p>*Este componente no necesita ser importado en módulos</p>
        <p>Es por que es su propio módulo</p>
      </div>
    </div>

    <!-- contador -->
    <alone-counter-alone></alone-counter-alone>

    <!-- side menu -->
    <side-menu style="position: fixed; top: 20px; left: 20px; z-index: 999;"></side-menu>


  </div>
</div>
